apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: demo-app
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - name: http
    port: 3000
    targetPort: http